#sign-out-link {
  cursor: pointer;
}

#no-collapse-nav {
  flex-direction: row;
}

@media (max-width: 767px) {
  #no-collapse-nav .nav-link {
    padding-right: 1rem;
  }

  #search-form {
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  #search {
    margin-left: .5rem;
  }
}

#search {
  background-color: #6f2232;
  border-color: #6f2232;
  color: #fff;
}

#search.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.1rem #950740;
  box-shadow: 0 0 0 0.1rem #950740;
}
