#sign-in-form, #sign-up-form {
  color: black;
  background-color: #fff;
  border-radius: 10px;
  margin-top: 40px;
  padding: 30px;
}

#sign-in-form h2, #sign-up-form h2 {
  margin-bottom: 20px;
}

#sign-in-form input, #sign-up-form input {
  border-color: #7c8c9c;
}

#sign-in-form button, #sign-up-form button {
  margin-bottom: 10px;
}

#sign-in-form a, #sign-up-form a {
  color: #000;
}
