#genres, #sort {
  margin: auto;
  min-width: 141px;
  width: auto;
}

.sort-filter {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.sort-filter .form-control-label {
  color: #950740;
  font-weight: 600;
}

.sort-filter .form-control {
  background-color: #950740;
  border-color: #950740;
  color: #fff;
}
